<div class="featured-container">    
  <div class="featured-carousel">
<!--     {% for image in product.images %}
    <a class="featured-panel" href="{{ product.url }}?view=featured">
      {{ image | img_url : "original" | img_tag : "Newest Release" }}
    </a>
    {% endfor %} -->

    <a class="featured-panel" href="{{ product.url }}?view=featured">
      {{ 'tabor-1.jpg' | asset_url | img_tag }}
    </a>
    <a class="featured-panel" href="{{ product.url }}?view=featured">
      {{ 'tabor-2.jpg' | asset_url | img_tag }}
    </a>
    <a class="featured-panel" href="{{ product.url }}?view=featured">
      {{ 'tabor-3.jpg' | asset_url | img_tag }}
    </a>

  </div>
  <div class="featured-copy-and-button">
    <p class="featured-header">
      {{ product.metafields.c_f.featured_header }}
    </p>
    <p class="featured-subhead">
      {{ product.metafields.c_f.featured_subhead }}
    </p>
    <a class="featured-button" href="{{ product.url }}?view=featured" title="{{ product.title }}">
      Shop our newest release
    </a>
  </div>
</div>
