<div class="nav-container">
  <div class="logo white">
    {{ 'vestment-logo-white.png' | asset_url | img_tag : "Vestment Logo" }}
  </div>

</div>
<div class="hero-container">
  <section class="hero">
    <!-- Hero goes here as background image -->
  </section>
</div>

{% include "newsletter-form" %}

<!-- {% assign page = pages.robes %}
{{ page.content }} -->

  <div class="modal-gallery shop-page">
    <div class="close"></div>
    <h2 class="product-zoom-name"></h2>
    <div class="gallery-container">

      {% for collection in collections %}

        {% for product in collection.products %}
        <ul class="zoom-slide{{ forloop.index }} {{product.metafields.c_f.zoom_namespace}}">
          {% for image in product.images %} 
          <li> <img src="{{ image.src | product_img_url: 'master' }}" alt="{{ image.alt | escape }}" /></li>
          {% endfor %}

        </ul>
        {% endfor %}

      {% endfor %}
    </div>
  </div>

  <div class="front-page">

    <div class="site-container">

      <div class="bag-container">
        <a href="/cart">
          {{ cart.item_count }}
        </a>
      </div>



      <div class="nav-container">

        {% include "legal-modals" %}
        {% include "made-modal" %}
        {% include "about-modal" %}
        {% include "help-modal" %}
        {% include "bottom-nav" %}
      </div>

      {% include "menu" %}

      <!-- Featured -->
      {% assign product = collections.featured.products | first %}
      {% include "featured" %}

      <!-- New in Stock -->
      {% assign collection = collections.new-in-stock %}
      {%  include "shop" %}

      <!-- Previous Season -->
      {% assign collection = collections.previous-collection %}
      {%  include "shop" %}

      <!-- Sale -->
      {% assign collection = collections.sale %}
      {%  include "shop" %}
    </div>
<!--   </div>
</div> -->